<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to textAnalyzer</h1>
    
    <form action="/analyze" method="get">
    
    <textarea name="text" id="" cols="30" rows="10"></textarea>
    </textarea> <br>

    <input type="checkbox" name="removepunc">Remove Punctuations <br>

    <input type="checkbox" name="makeCapital">Make Capital <br>

    <input type="checkbox" name="makeLower">Make Lower <br>

    <input type="checkbox" name="kbtogb">Kilobyte to Gigabyte <br>

    <input type="checkbox" name="mbtogb">Megabyte to Gigabyte <br>
    
    <input type="checkbox" name="pbtogb">Petabyte to Gigabyte <br>
    
    <input type="checkbox" name="usdtonpr">USD into NPR <br>

    <br> <button type="submit">Analyze Text</button>
    </form>
</body>
</html>
