<form action="/analyze" method="get">
    
    <textarea name="text" id="" cols="30" rows="10"></textarea>
    </textarea> <br>

    <input type="checkbox" name="removepunc">Remove Punctuations <br>

    <input type="checkbox" name="makeCapital">Make Capital <br>

    <input type="checkbox" name="makeLower">Make Lower <br>

    <input type="checkbox" name="kbtogb">Kilobyte to Gigabyte <br>

    <input type="checkbox" name="mbtogb">Megabyte to Gigabyte <br>
    
    <input type="checkbox" name="pbtogb">Petabyte to Gigabyte <br>
    
    <input type="checkbox" name="usdtonpr">USD into NPR <br>

    <input type="checkbox" name="audtonpr">AUD into NPR <br>

    <br> <button type="submit">Analyze Text</button>
    </form>